<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인 - MUD</title>
  <style>
    body {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      font-family: Arial;
      flex-direction: column;
    }
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h2>파일 서비스 로그인</h2>
  <a href="{{ url_for('kakao_oauth') }}">
    <img src="https://developers.kakao.com/assets/img/about/logos/kakaologin/kr/kakao_account_login_btn_medium_narrow.png"
         alt="카카오 로그인">
  </a>
</body>
</html>